.card {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 370px;
	border-top: 1px solid var(--grayE4);
	padding: 10px 0;
}
.pomodoros {
	display: inline-block;
	box-sizing: content-box;
	width: 23px;
	height: 19px;
	padding-top: 4px;
	margin-right: 10px;
	border: 1px solid var(--grayC4);
	border-radius: 50%;
	text-align: center;
	line-height: 17px;
	font-weight: 300;
	font-size: 16px;
}

.edit-task-input {
	margin-right: 8px;
}
.edit-task-form {
	display: flex;
}

.task-info {
	display: flex;
	align-items: center;
}

.icon-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	padding: 7px;
	border-radius: 50%;
	border: 1px solid var(--black);
	margin-right: 10px;
}

.confirm-btn {
	border-color: var(--green);
}
