.menu {
    position: relative;
    width: 165px;
    border: 1px solid var(--grayF4);
    padding: 5px 0;
    background: var(--grayF4);
    z-index: 2;
}

.menuItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 5px 8px 15px;
    font-size: 16px;
}

*:disabled {
    cursor: default;
}

*:disabled > *, *:disabled > * > * {
    color: var(--grayC4);
    fill: var(--grayC4);
}

.menuItem:hover {
    background-color: var(--grayE4);
}

.menuItem :first-child {
    width: 15px;
}

.menuItem > span {
    margin-left: 9px;
}
/* Dropdown triangle */
.menu::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--grayF4) transparent;
}
