.remainingTime {
    margin: 70px 0 9px 0;
    font-size: 150px;
}
.actionButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.btnSuccess {
    width: 173px;
    height: 55px;
    background: var(--green);
    color: var(--white);
    margin: 0px 25px 0 0;
}

.btnSuccess:hover {
    background: var(--darkGreen);
}

.btnWarning {
    display: block;
    width: 173px;
    height: 55px;
    color: var(--red);
    border: 1px solid var(--red);
}

.btnWarning:enabled:hover {
    color: var(--white);
    background: var(--red);
}

button:disabled {
    border-color: var(--grayC4);
    color: var(--grayC4);
}

.redTimer {
    color: var(--red);
}

.greenTimer {
    color: var(--green);
}