.tasksContainer {
	max-width: 522px;
	margin: 20px 16px 0 80px
}

.instructions {
	list-style: disc;
	margin-left: 14px;
}

li {
	line-height: 33px;
}

.taskInput {
	width: 370px;
	height: 55px;
	margin: 25px 0;
	padding-left: 15px;
	border: none;
	background: var(--grayF4);
}

.btnSuccess {
	width: 173px;
	height: 55px;
	background: var(--green);
	color: var(--white);
}

.btnSuccess:hover {
	background: var(--darkGreen);
}

.taskList {
	width: 370px;
	margin-top: 25px;
	border-bottom: 1px solid var(--grayE4);
}

.totalTime {
	color: var(--gray99);
}
