.container {
    padding: 100px 80px 0 80px;
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart {
    width: 952px;
    height: 471px;
    margin-left: 32px;
    background: var(--grayF4);
}

.listContainer {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.menuBtn {
    width: 370px;
    padding: 19px 0 19px 15px;
    background: var(--grayF4);
    font-size: 16px;
    text-align: start;
}