.taskTimerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0 40px;
}

header {
    background: var(--grayC4);
}

.taskTimerHeader > span {
    color: var(--white);
}

.redHeader {
    background: var(--red);
}

.greenHeader {
    background: var(--green);
}