@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--black: #333;
	--orange: #CC6633;
	--green: #A8B64F;
	--red: #DC3E22;
	--whiteLightness: 100%;
	--white: hsl(0, 0%, var(--whiteLightness));
	--grayE5: #e5e5e5;
	--grayF4: #F4F4F4;;
	--grayE4: #E4E4E4;
	--grayEC: hsl(0, 0%, calc(var(--whiteLightness) - 7%));
	--grayD9: hsl(0, 0%, calc(var(--whiteLightness) - 15%));
	--grayC4: #C4C4C4;
	--gray99: #999;
	--gray66: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
}


body {
	padding: 0;
	margin: 0;
	background-color: var(--white);
	font-family: Roboto, sans-serif;
}

*{
	color: var(--black);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	padding: 0;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.layout {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}